# Place a copy of this config to ~/.aerospace.toml
# After that, you can edit ~/.aerospace.toml to your liking

# Config version for compatibility and deprecations
# Fallback value (if you omit the key): config-version = 1
config-version = 2

# You can use it to add commands that run after AeroSpace startup.
# Available commands : https://nikitabobko.github.io/AeroSpace/commands
after-startup-command = [
    # 'exec-and-forget borders active_color=0xffe1e3e4 inactive_color=0xff494d64 width=5.0 hidpi=on style=round'
]

# Start AeroSpace at login
start-at-login = true

# Normalizations. See: https://nikitabobko.github.io/AeroSpace/guide#normalization
enable-normalization-flatten-containers = true
enable-normalization-opposite-orientation-for-nested-containers = true

# See: https://nikitabobko.github.io/AeroSpace/guide#layouts
# The 'accordion-padding' specifies the size of accordion padding
# You can set 0 to disable the padding feature
accordion-padding = 30

# Possible values: tiles|accordion
default-root-container-layout = 'tiles'

# Possible values: horizontal|vertical|auto
# 'auto' means: wide monitor (anything wider than high) gets horizontal orientation,
#               tall monitor (anything higher than wide) gets vertical orientation
default-root-container-orientation = 'auto'

# Mouse follows focus when focused monitor changes
# Drop it from your config, if you don't like this behavior
# See https://nikitabobko.github.io/AeroSpace/guide#on-focus-changed-callbacks
# See https://nikitabobko.github.io/AeroSpace/commands#move-mouse
# Fallback value (if you omit the key): on-focused-monitor-changed = []
# on-focused-monitor-changed = ['move-mouse monitor-lazy-center']

# You can effectively turn off macOS "Hide application" (cmd-h) feature by toggling this flag
# Useful if you don't use this macOS feature, but accidentally hit cmd-h or cmd-alt-h key
# Also see: https://nikitabobko.github.io/AeroSpace/goodies#disable-hide-app
automatically-unhide-macos-hidden-apps = false

# List of workspaces that should stay alive even when they contain no windows,
# even when they are invisible.
# This config version is only available since 'config-version = 2'
# Fallback value (if you omit the key): persistent-workspaces = []
persistent-workspaces = ['0', '1', '2', '3', '4', '5', '6', '7', '8', '9', 'A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J', 'K', 'L', 'M', 'N', 'O', 'P', 'Q', 'R', 'S', 'T', 'U', 'V', 'W', 'X', 'Y', 'Z']

#[workspace-to-monitor-force-assignment]
#    1 = 1
#    2 = 2
#    3 = 3

# A callback that runs every time binding mode changes
# See: https://nikitabobko.github.io/AeroSpace/guide#binding-modes
# See: https://nikitabobko.github.io/AeroSpace/commands#mode
on-mode-changed = []

[[on-window-detected]]
if.app-id = 'com.hnc.Discord'
run = ['move-node-to-workspace D']

[[on-window-detected]]
if.app-id = 'com.apple.MobileSMS'
run = ['move-node-to-workspace M']

[[on-window-detected]]
if.app-id = 'com.microsoft.Outlook'
run = ['move-node-to-workspace O']

[[on-window-detected]]
if.app-id = 'com.tinyspeck.slackmacgap'
run = ['move-node-to-workspace S']

[[on-window-detected]]
if.app-id = 'com.microsoft.teams2'
run = ['move-node-to-workspace T']


# Possible values: (qwerty|dvorak|colemak)
# See https://nikitabobko.github.io/AeroSpace/guide#key-mapping
[key-mapping]
    preset = 'qwerty'

# Gaps between windows (inner-*) and between monitor edges (outer-*).
# Possible values:
# - Constant:     gaps.outer.top = 8
# - Per monitor:  gaps.outer.top = [{ monitor.main = 16 }, { monitor."some-pattern" = 32 }, 24]
#                 In this example, 24 is a default value when there is no match.
#                 Monitor pattern is the same as for 'workspace-to-monitor-force-assignment'.
#                 See:
#                 https://nikitabobko.github.io/AeroSpace/guide#assign-workspaces-to-monitors
[gaps]
    inner.horizontal = 0 #10
    inner.vertical =   0 #10
    outer.left =       0 #5
    outer.bottom =     0 #5
    outer.top =        0 #5
    outer.right =      0 #5

# 'main' binding mode declaration
# See: https://nikitabobko.github.io/AeroSpace/guide#binding-modes
# 'main' binding mode must be always presented
# Fallback value (if you omit the key): mode.main.binding = {}
[mode.main.binding]
    # All possible keys:
    # - Letters.        a, b, c, ..., z
    # - Numbers.        0, 1, 2, ..., 9
    # - Keypad numbers. keypad0, keypad1, keypad2, ..., keypad9
    # - F-keys.         f1, f2, ..., f20
    # - Special keys.   minus, equal, period, comma, slash, backslash, quote, semicolon,
    #                   backtick, leftSquareBracket, rightSquareBracket, space, enter, esc,
    #                   backspace, tab, pageUp, pageDown, home, end, forwardDelete,
    #                   sectionSign (ISO keyboards only, european keyboards only)
    # - Keypad special. keypadClear, keypadDecimalMark, keypadDivide, keypadEnter, keypadEqual,
    #                   keypadMinus, keypadMultiply, keypadPlus
    # - Arrows.         left, down, up, right

    # All possible modifiers: cmd, alt, ctrl, shift

    # All possible commands: https://nikitabobko.github.io/AeroSpace/commands

    # See: https://nikitabobko.github.io/AeroSpace/commands#exec-and-forget
    # You can uncomment the following lines to open up terminal with alt + enter shortcut
    # (like in i3)
    alt-space = ['mode launch']
    alt-shift-enter = ['fullscreen']
    alt-enter = ['exec-and-forget open -n -a iTerm.app', 'mode main']
    alt-c = ['close']

    cmd-h = [] # Disable "hide application"
    cmd-alt-h = [] # Disable "hide others"

    # See: https://nikitabobko.github.io/AeroSpace/commands#layout
    alt-slash = 'layout tiles horizontal vertical'
    alt-comma = 'layout accordion horizontal vertical'

    # See: https://nikitabobko.github.io/AeroSpace/commands#focus
    alt-h = 'focus --boundaries-action wrap-around-the-workspace left'
    alt-j = 'focus --boundaries-action wrap-around-the-workspace down'
    alt-k = 'focus --boundaries-action wrap-around-the-workspace up'
    alt-l = 'focus --boundaries-action wrap-around-the-workspace right'

    # See: https://nikitabobko.github.io/AeroSpace/commands#move
    alt-shift-h = 'move left'
    alt-shift-j = 'move down'
    alt-shift-k = 'move up'
    alt-shift-l = 'move right'

    # See: https://nikitabobko.github.io/AeroSpace/commands#resize
    alt-minus = 'resize smart -50'
    alt-equal = 'resize smart +50'

    # See: https://nikitabobko.github.io/AeroSpace/commands#workspace
    alt-0 = 'workspace 0'
    alt-1 = 'workspace 1'
    alt-2 = 'workspace 2'
    alt-3 = 'workspace 3'
    alt-4 = 'workspace 4'
    alt-5 = 'workspace 5'
    alt-6 = 'workspace 6'
    alt-7 = 'workspace 7'
    alt-8 = 'workspace 8'
    alt-9 = 'workspace 9'
    alt-a = 'workspace A' # In your config, you can drop workspace bindings that you don't need
    alt-b = 'workspace B'
    alt-d = 'workspace D'
    alt-e = 'workspace E'
    alt-f = 'workspace F'
    alt-g = 'workspace G'
    alt-i = 'workspace I'
    alt-m = 'workspace M'
    alt-n = 'workspace N'
    alt-o = 'workspace O'
    alt-p = 'workspace P'
    alt-q = 'workspace Q'
    alt-r = 'workspace R'
    alt-s = 'workspace S'
    alt-t = 'workspace T'
    alt-u = 'workspace U'
    alt-v = 'workspace V'
    alt-w = 'workspace W'
    alt-x = 'workspace X'
    alt-y = 'workspace Y'
    alt-z = 'workspace Z'

    # See: https://nikitabobko.github.io/AeroSpace/commands#move-node-to-workspace
    alt-shift-0 = ['move-node-to-workspace 0', 'workspace 0']
    alt-shift-1 = ['move-node-to-workspace 1', 'workspace 1']
    alt-shift-2 = ['move-node-to-workspace 2', 'workspace 2']
    alt-shift-3 = ['move-node-to-workspace 3', 'workspace 3']
    alt-shift-4 = ['move-node-to-workspace 4', 'workspace 4']
    alt-shift-5 = ['move-node-to-workspace 5', 'workspace 5']
    alt-shift-6 = ['move-node-to-workspace 6', 'workspace 6']
    alt-shift-7 = ['move-node-to-workspace 7', 'workspace 7']
    alt-shift-8 = ['move-node-to-workspace 8', 'workspace 8']
    alt-shift-9 = ['move-node-to-workspace 9', 'workspace 9']
    alt-shift-a = ['move-node-to-workspace A', 'workspace A']
    alt-shift-b = ['move-node-to-workspace B', 'workspace B']
    alt-shift-d = ['move-node-to-workspace D', 'workspace D']
    alt-shift-e = ['move-node-to-workspace E', 'workspace E']
    alt-shift-f = ['move-node-to-workspace F', 'workspace F']
    alt-shift-g = ['move-node-to-workspace G', 'workspace G']
    alt-shift-i = ['move-node-to-workspace I', 'workspace I']
    alt-shift-m = ['move-node-to-workspace M', 'workspace M']
    alt-shift-n = ['move-node-to-workspace N', 'workspace N']
    alt-shift-o = ['move-node-to-workspace O', 'workspace O']
    alt-shift-p = ['move-node-to-workspace P', 'workspace P']
    alt-shift-q = ['move-node-to-workspace Q', 'workspace Q']
    alt-shift-r = ['move-node-to-workspace R', 'workspace R']
    alt-shift-s = ['move-node-to-workspace S', 'workspace S']
    alt-shift-t = ['move-node-to-workspace T', 'workspace T']
    alt-shift-u = ['move-node-to-workspace U', 'workspace U']
    alt-shift-v = ['move-node-to-workspace V', 'workspace V']
    alt-shift-w = ['move-node-to-workspace W', 'workspace W']
    alt-shift-x = ['move-node-to-workspace X', 'workspace X']
    alt-shift-y = ['move-node-to-workspace Y', 'workspace Y']
    alt-shift-z = ['move-node-to-workspace Z', 'workspace Z']

    # See: https://nikitabobko.github.io/AeroSpace/commands#workspace-back-and-eorth
    alt-tab = 'workspace-back-and-forth'
    # See: https://nikitabobko.github.io/AeroSpace/commands#move-workspace-to-monitor
    alt-shift-tab = 'move-workspace-to-monitor --wrap-around next'
    alt-cmd-0 = 'summon-workspace 0'
    alt-cmd-1 = 'summon-workspace 1'
    alt-cmd-2 = 'summon-workspace 2'
    alt-cmd-3 = 'summon-workspace 3'
    alt-cmd-4 = 'summon-workspace 4'
    alt-cmd-5 = 'summon-workspace 5'
    alt-cmd-6 = 'summon-workspace 6'
    alt-cmd-7 = 'summon-workspace 7'
    alt-cmd-8 = 'summon-workspace 8'
    alt-cmd-9 = 'summon-workspace 9'
    alt-cmd-a = 'summon-workspace A'
    alt-cmd-b = 'summon-workspace B'
    alt-cmd-d = 'summon-workspace D'
    alt-cmd-e = 'summon-workspace E'
    alt-cmd-f = 'summon-workspace F'
    alt-cmd-g = 'summon-workspace G'
    alt-cmd-i = 'summon-workspace I'
    alt-cmd-m = 'summon-workspace M'
    alt-cmd-n = 'summon-workspace N'
    alt-cmd-o = 'summon-workspace O'
    alt-cmd-p = 'summon-workspace P'
    alt-cmd-q = 'summon-workspace Q'
    alt-cmd-r = 'summon-workspace R'
    alt-cmd-s = 'summon-workspace S'
    alt-cmd-t = 'summon-workspace T'
    alt-cmd-u = 'summon-workspace U'
    alt-cmd-v = 'summon-workspace V'
    alt-cmd-w = 'summon-workspace W'
    alt-cmd-x = 'summon-workspace X'
    alt-cmd-y = 'summon-workspace Y'
    alt-cmd-z = 'summon-workspace Z'

    # See: https://nikitabobko.github.io/AeroSpace/commands#mode
    alt-shift-semicolon = 'mode service'

[mode.launch.binding]
    esc = ['mode main']
    enter = ['exec-and-forget open -n -a iTerm.app', 'mode main']
    f = ['exec-and-forget open $HOME', 'mode main']
    b = ['mode firefox']
    a = ['trigger-binding --mode firefox a']
    n = ['trigger-binding --mode firefox n']
    p = ['trigger-binding --mode firefox p']
    c = ['exec-and-forget open -g -a Slack.app && open -g -a "Microsoft Teams.app" && open -g -a "Microsoft Outlook.app" && open -g -a Messages.app && open -g -a Discord.app', 'mode main']

[mode.firefox.binding]
    esc = ['mode main']
    a = ['exec-and-forget open -n -a Firefox.app --args -no-remote -profile "/Users/zach/Library/Application Support/Firefox/Profiles/Vhe6t9qb.Profile 1"', 'mode main']
    n = ['exec-and-forget open -n -a Firefox.app --args -no-remote -profile "/Users/zach/Library/Application Support/Firefox/Profiles/DAJ8dFUT.Profile 3"', 'mode main']
    p = ['exec-and-forget open -n -a Firefox.app --args -no-remote -profile "/Users/zach/Library/Application Support/Firefox/Profiles/ZP8PHv3Y.Profile 2"', 'mode main']

# 'service' binding mode declaration.
# See: https://nikitabobko.github.io/AeroSpace/guide#binding-modes
[mode.service.binding]
    esc = ['reload-config', 'mode main']
    r = ['flatten-workspace-tree', 'mode main'] # reset layout
    f = ['layout floating tiling', 'mode main'] # Toggle between floating and tiling layout
    backspace = ['close-all-windows-but-current', 'mode main']

    # sticky is not yet supported https://github.com/nikitabobko/AeroSpace/issues/2
    #s = ['layout sticky tiling', 'mode main']

    alt-shift-h = ['join-with left', 'mode main']
    alt-shift-j = ['join-with down', 'mode main']
    alt-shift-k = ['join-with up', 'mode main']
    alt-shift-l = ['join-with right', 'mode main']
