@import "mocha.css"; 

* {
    /* font-family: 'CaskaydiaCoveNerdFontMono'; */
    font-size: 14px;
    min-height: 0;
    font-weight: bold;
}

#waybar {
  background-color: rgba(0,0,0,0.5);
  color: @text;
  margin: 5px 5px;
}

#custom-power {
  margin-left: 5px;
}

#workspaces button {
  padding: 0 0.3rem;
  margin: 5px 0;
}

#workspaces button.active {
  color: @crust;
  background-color: @blue;
}

#workspaces button:hover:not(.active) {
  color: @blue;
}

#mpris,
#custom-power,
#tray,
#clock,
#battery,
#wireplumber,
#network,
#cpu,
#memory,
#privacy,
#temperature {
  padding: 0rem 0.5rem;
  margin: 5px 0;
}

#clock {
  border-radius: 0px 1rem 1rem 0px;
}

#battery.warning:not(.charging) {
  color: @yellow;
}

#battery.critical:not(.charging) {
  color: @red;
}

#tray {
  margin-right: 1rem;
}

menu {
	border-radius: 15px;
	background: @surface0;
	color: @text;
}
menuitem {
	border-radius: 15px;
}
